@{
    ViewBag.Title = "Contact";
}
<h2>Liên hệ</h2>
<h3>@ViewBag.Message</h3>

<address>
    Văn Tình<br />
    Trường Cao Đẳng Công Thương TP.HCM<br />
    <abbr title="Phone">Điện thoại:</abbr>
    082.509.1689
</address>

<address>
    <strong>Hổ trợ:</strong>   <a href="levantinhvip2k2@gmail.com">levantinhvip2k2@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="levantinhvip2k2@gmail.com">levantinhvip2k2@gmail.com</a>
</address>