@model List<WebsiteBanHang.Models.Category>

@{
    ViewBag.Title = "Category";
}

<section class="section-content padding-y">
    <div class="container">

        <nav class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="card card-category">
                        <div class="none object">
                            <div class="img-wrap" style="background: #b200ff">
                                <img src="~/Content/images/items/@item.Avartar">
                                style="width:128px;height:128px;">
                            </div>

                            <div class="card-body">
                                <h4 class="card-title"><a href="@Url.Action("ProductCategory", "Category", new { Id = @item.Id }, null)">@item.Name</a></h4>
                            </div>
                        </div>
                    </div> <!-- col.// -->
                </div>
            }
        </nav> <!-- row.// -->


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
