
@{
    ViewBag.Title = "Content";
}

<section class="section-pagetop bg-light">
    <div class="container">
        <h2 class="title-page">TIN TỨC</h2>
    </div> <!-- container .// -->
</section>


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">

        <h3 class="card-title">3 lý do khiến Prophere hấp dẫn và trở thành sản phẩm hit thời gian qua của adidas</h3>
        <h5>1. Thiết kế:</h5>
        <p>
            Hai yếu tố đầu tiên bạn sẽ chú ý khi lần đầu thấy đôi giày chính là logo 3 sọc
            “khổng lồ” được đặt cách điệu ở hai bên thân giày, đi cùng với midsole khổng lồ tạo
            cảm giác chắc chắn. adidas Prophere thực sự là sự kết hợp hoàn hảo giữa một thiết kế hiện
            đại (thiết kế upper liền mạch) cùng các chi tiết quen thuộc được lấy từ một đôi chunky sneaker cổ điển.
            Dù midsole dày như vậy nhưng cách mà adidas tạo form thì không mang lại cảm giác thô kệch, ngược lại nó thật sự thu hút.
        </p>
        <p>
            Hai yếu tố đầu tiên bạn sẽ chú ý khi lần đầu thấy đôi giày chính là logo 3 sọc “khổng lồ”
            được đặt cách điệu ở hai bên thân giày, đi cùng với midsole khổng lồ tạo cảm giác chắc chắn.
            adidas Prophere thực sự là sự kết hợp hoàn hảo giữa một thiết kế hiện đại (thiết kế upper liền mạch)
            cùng các chi tiết quen thuộc được lấy từ một đôi chunky sneaker cổ điển. Dù midsole dày như vậy nhưng cách
            mà adidas tạo form thì không mang lại cảm giác thô kệch, ngược lại nó thật sự thu hút.
        </p>
        <p>
            Một điểm thú vị nữa của đôi giày chính là hệ thống buộc dây. Sẽ không có gì đáng nói nếu
            adidas không giấu các đầu dây giày vào trong một cách tinh tế, và bạn gần như sẽ không nhận
            ra điều này cho đến khi thực sự xỏ chân vào nó. Một điểm cộng nhỏ nhưng đáng giá dành cho adidas Prophere.
        </p>

        <h5>2. Cảm giác mang giày:</h5>
        <p>
            Không thể nói rằng Prophere là một phiên bản sneaker dạng tất (sock-like) như dòng NMD CS hay Ultra BOOST Uncage,
            tuy nhiên không vì vậy cảm giác mà sản phẩm này đem lại không thoải mái. Toàn bộ phần thân được thiết kế từ một mảnh
            Primeknit liền mạch, đem lại sự thoải mái cho người mang. Chưa kể đến phần cổ giày rất co giãn khiến cho việc mang
            giày dễ dàng và thoải mái hơn bao giờ hết.
        </p>
        <p>
            Ngoài ra, logo 3 sọc ở hai bên đóng vai trò như một phần khung giúp ôm chặt lòng bàn chân, cho phép Prophere trở thành
            một đôi giày phù hợp để tập gym.
        </p>
        <h5>3. Mức giá và hiệu năng:</h5>
        <p>
            Được bán với giá retail ở mức chỉ $120 USD, đôi giày thực sự là một món hời dành cho người tiêu dùng.
            Khó có thể kiếm được ở tầm tiền này một đôi giày vừa thời trang, độc đáo và thoải mái như Adidas Prophere.
            Bạn hoàn toàn có thể mang đôi giày cho bất kì hoạt động thường ngày nào: đi làm, đi học, đi bar và cả tập gym (nếu cần thiết).
            Thật sự Adidas đã tạo ra một sản phẩm thú vị dành cho các sneakerhead trên toàn thế giới: không giới hạn, không giá trị,
            chỉ đơn giản là đẹp và chất lượng.
        </p>
        <p>
            Tổng kết lại thì cho đến hiện nay, adidas Prophere đã bước đầu gặt được những thành công nhất định.
            Hi vọng với bước nền tốt này, “the 3-stripe” sẽ tiếp tục mang đến nhiều phối màu mới và cải tiến cho đôi giày.
            Từ đó góp phần biến nó trở thành một trong những mũi nhọn giúp adidas lấy lại ngôi vương từ tay Nike.
        </p>

        <br><br>

        <a href="~/Home/Index/" class="btn btn-light"> &laquo Quay lại</a>



    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
